<ul class="nav nav-tabs" 
    >
    <li class="nav-item mr-3">
        <a href='dashboard/details'
        routerLinkActive
        #router="routerLinkActive"
        
        > 
            <i class='fa fa-table'></i>
            Detalle
        </a>
    </li>

    <li class="nav-item mr-3">  
        <a href='dashboard/poficial'> 
            <i class='fa fa-list-ol'></i> 
            P. Oficial
        </a>
    </li>
    
    <li class="nav-item mr-3">  
        <a href='dashboard/formatos'> 
            <i class='fa fa-list-ol'></i> 
            Formatos
        </a>
    </li>

    <li class="nav-item mr-3">  
        <a href='dashboard/oferente'> 
            <i class='fa fa-list-ol'></i> 
            P. Oferta
        </a>
    </li>

    <li class="nav-item mr-3">  
        <a href='dashboard/compensado'> 
            <i class='fa fa-list-ol'></i> 
            P. Compensado
        </a>
    </li>

    <li class="nav-item mr-3">  
        <a href='dashboard/cgantt'> 
            <i class='fa fa-list-ol'></i> 
            C. Gantt
        </a>
    </li>

    <li class="nav-item mr-3">  
        <a href='dashboard/financiera'> 
            <i class='fa fa-calendar'></i> 
            P. Financiera</a>
    </li>
    
    <li class="nav-item mr-3" >  
        <a href='dashboard/pfinanciera'> 
            <i class='fa fa-money'></i>  
            Estados de Pago
        </a>
    </li>
    
    <li class="nav-item mr-3">  
        <a href='dashboard/modificacion/balance'> 
            <i class='fa fa-pencil-square-o'></i> 
            Modificaciones
        </a>
    </li>
</ul>



<div class="container-fluid mt-3">
    <router-outlet></router-outlet>
</div>
