<!-- <embed src="file_name.pdf" width="800px" height="2100px" /> -->

<!-- https://www.youtube.com/watch?v=hz_u1qv6P64 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">        
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">TIPO DE AVISOS</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>ADJUDICACIONES</td>
                        
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>INFORMES TEC.</td>
                        
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>MODIFICACIONES</td>
                        
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>EJEM. 4</td>
                        
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>EJEM. 5</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            
        </div>
    <div class="col-md-9 text-right "
    >
        <img src="assets/img/msg.jpg" class="  img-thumbnail" width="1000" height="900"/> 
        
    </div>
</div>


